1。 Four data types are `numerics`, `sequences`, `mappings`, and `set`.

2。Mutable is a characteristic of collection/container data type (Dictionary, List, Set, except Tuple). General methods such as addition, substraction, and rearranging members of these data types can be done.  
  
Other than those data types (i.e. Integers, Float, String, and Tuple) are considered immutable. These can not be changed after being made, and do not have general methods such as those in mutable data types.
Below are examples of each of these:

In [ ]:
# Mutable Data Type
spamList = [1, 3.54, 'Gaga', True]                      # Sequence type - List
spamRange = range(1, 10)                                # Sequence type - Range
spamDict = {'name': 'Gaga', 'male': True}               # Mapping type - Dictionary
spamSet = {'car', 12, True}                             # Set type - Set

In [ ]:
# Immutable Data Type
spamInt = 12                            # Numeric type - Integer
spamFloat = 10.56                       # Numeric type - Float
spamStr = 'Gaga'                        # Sequence type - String
spamTuple = ('car', 12, 15.3, True)     # Sequence type - Tuple

3。Those of operators are: `*`, `-`, `/`, and `+`,  
while those of values are: `'hello'`, `-88.8`, and `5`


4。`eggs` is a valid variable name because it obeys the basic naming rule of variable: __variable name must begin with letters or underscore character `_`__
  
`100` is an invalid variable name because ___a variable name cannot begin with numbers___; it can only begin with letters or underscore character

5。Three functions that can be used to get those versions of a value are `str()` for string, `int()` for integer, and `float()` for float

6。That expression is trying to concatenate strings `'I have eaten '` and `' burritos'` with an integer `99`, which can not be done and therefore causing an error. But we can fix it if we first convert the integer into a string using str() method into the integer value:

In [ ]:
print('I have eaten ' + str(99) + ' burritos.')

or by modifying the code using string interpolation:

In [ ]:
n = 99
print('I have eaten %s burritos' % (n))

by using f-string:

In [ ]:
n = 99
print(f'I have eaten {n} burritos')

and by using format() method:

In [ ]:
txt = ('I have eaten {} burritos')
print(txt.format(99))

7。Those escape characters represent ___New Line___ for `\n` and ___Tab___ for `\t`

8。We can put a `\` backslash character in a string by using escape character `\\`, such as:

In [ ]:
print('backslash character: \\')

9。The single quote character in that word wouldn't be a problem, even though it isn't escaped, because that character is inside these double quotation marks `""` and regarded as a string.  
  
It is not considered as a single quote escape character, which also requires a backslash character `\` to be put before it.

10。Those expressions evaluate to these outputs:

>`o`

>`,olleH`

>`llo, `

>`llo, worl`

11。Those expressions evaluate to these outputs:

>`HELLO`

>`Hello`

>`hello`

12。Those expressions evaluate to these outputs:

>`['Re', 'e', 'ber, re', 'e', 'ber, the fifth of Nove', 'ber']`

>`There-can-be-only-one`